.row.projects
  .col-lg-12.col-md-12.col-sm-12
    %h2 Proyectos
    %table.table
      %thead
        %th Id
        %th Título
        %th Pequeña descripción
        %th Descripción
        %th Estatus
      %tbody= render @projects
