.row
  .col-lg-12.col-md-12.col-sm-12
    = link_to 'Nuevo proyecto', new_users_project_path, class: 'btn btn-primary'
.row
  .col-lg-12.col-md-12.col-sm-12
    %h3 Mis proyectos
- unless @projects.blank?
  - @projects.in_groups_of(4, false) do |group|
    .row= render group
  .row
    .col-lg-12.col-md-12.col-sm-12= paginate @projects
- else
  .row
    .col-lg-12.col-md-12.col-sm-12.text-center
      %p
        Ninguno por ahora
        = link_to 'Crear nuevo', new_users_project_path, class: 'btn btn-primary'
