%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Fondify Admin', admins_projects_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to 'Proyectos', admins_projects_path
      %ul.nav.navbar-nav.navbar-right
        - if admin_signed_in?
          %li= link_to 'Cerrar sesión', destroy_admin_session_path, method: :delete
        - else
          %li= link_to 'Iniciar sesión', new_admin_session_path
    / /.nav-collapse
  / /.container-fluid
